@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: $font-family-base;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: $color-bg-dark;
  color: $color-text-light;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
}
